@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --font-inter: "Inter", sans-serif;
  --font-poppins: "Poppins", sans-serif;
}
@theme {
  --color-s1: #ecece9;
  --color-light-blue: #7ed0ff;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  /* --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
   */
  --font-inter: var(--font-inter);
  --font-poppins: var(--font-poppins);
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */

@utility container {
  margin-inline: auto;
  padding-inline: 64px;
  max-width: 1252px;
}

body {
  background: var(--background);
  color: var(--foreground);
  /* font-family: ; */
  font-family: var(--font-poppins);
}
